# This file is a template, and might need editing before it works on your project.
# This is a sample GitLab CI/CD configuration file that should run without any modifications.
# It demonstrates a basic 3 stage CI/CD pipeline. Instead of real tests or scripts,
# it uses echo commands to simulate the pipeline execution.
#
# A pipeline is composed of independent jobs that run scripts, grouped into stages.
# Stages run in sequential order, but jobs within stages run in parallel.
#
# For more information, see: https://docs.gitlab.com/ee/ci/yaml/#stages
#
# You can copy and paste this template into a new `.gitlab-ci.yml` file.
# You should not add this template to an existing `.gitlab-ci.yml` file by using the `include:` keyword.
#
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/development/cicd/templates/
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Getting-Started.gitlab-ci.yml
default:
  image: php:8.2.12-cli

variables:
  GIT_TERMINAL_PROMPT: "0"

stages:
  - test
  - pushToGitHub
  - notify

.discord_notify_template:
  stage: notify
  image: python:3.12-alpine
  only:
    - main
  before_script:
    - apk add --no-cache curl
  script:
    - |
      show_notify_options() {
        echo "Options de notifications"
        echo "   no_notify               Ne pas notifier sur les réseaux"
        echo ""
        echo "   needed_pull             Pull obligatoire"
        echo "   high_recommended_pull   Pull fortement recommandé"
        echo "   recommended_pull        Pull recommandé"
        echo "   -- Pas de tag --        Pull non obligatoire"
      }

      echo "Notification Discord cible: ${TARGET_NAME}"
      python3 ./notify_discord.py "${WEBHOOK_URL}"
      show_notify_options

loader-test:
  stage: test
  script:
    - php ./loader.php --debug

push_to_github:
  stage: pushToGitHub
  image: alpine:3.20
  variables:
    GIT_TERMINAL_PROMPT: "0"
  before_script:
    - apk add --no-cache bash git python3 py3-pip
    # venv (contourne PEP 668)
    - python3 -m venv /tmp/venv
    - . /tmp/venv/bin/activate
    - pip install --no-cache-dir git-filter-repo
    # vérif
    - git filter-repo --version
    - test -n "$GITHUB_USER"
    - test -n "$GITHUB_TOKEN"
  script:
    - . /tmp/venv/bin/activate
    - find . -maxdepth 3 -type f -name "*push*github*.sh" -print
    - bash ./pushtogithub.sh
  only:
    - main

discord_notify:
  extends: .discord_notify_template
  parallel:
    matrix:
      - TARGET_NAME: "Stagiaires"
        WEBHOOK_URL: "$DISCORD_WEBHOOK_URL_STG"
      - TARGET_NAME: "Firstruner"
        WEBHOOK_URL: "$DISCORD_WEBHOOK_URL_1ST"